/* ---- code from: https://github.com/socketio/socket.io/blob/master/examples/whiteboard/public/style.css --- */

/**
 * Fix user-agent
 */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/**
 * Canvas
 */

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 50px;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.black {
    background-color: black;
}
.color.red {
    /* reduce the hue on the colours a bit */
    background-color: red;
}
.color.green {
    background-color: green;
}
.color.blue {
    background-color: blue;
}
.color.yellow {
    background-color: yellow;
}
